nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    /* background-color: rgb(20, 20, 20); */

    background-color: #2813e5;
    margin-bottom: 10px;
    width: 120px;

    padding: 8px;
}



nav li:hover {
    background-color: #222;
    color: white;
}

nav li a {
    text-decoration: none;
    color: white;
}